@model ChatBox.Models.HistoryChat.ChatHistory

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="~/css/whatsapps.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
          integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/mervick/emojionearea/master/dist/emojionearea.min.css">
    <script type="text/javascript" src="https://cdn.rawgit.com/mervick/emojionearea/master/dist/emojionearea.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="https://rawgit.com/mervick/emojionearea/master/dist/emojionearea.css" rel="stylesheet" />
    <script src="https://rawgit.com/mervick/emojionearea/master/dist/emojionearea.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">


</head>

<body>
    <input style="display:none" value="@ViewBag.imgURL" id="imgURL">
    <input style="display:none" value="@ViewBag.UserID" id="userID">
    <input style="display:none" value="@ViewBag.UserName" id="userName">
    <input style="display:none" value="@ViewBag.tmptable" id="tmptable">
    <div class="back-container">
        <div class="container-fluid front-container">
            <div class="back-top"></div>
            <div class="back-main"></div>
        </div>
        <div class="container front-container1">
            <div class="row chat-top">
                <div class="col-sm-4 border-right border-secondary">
                    <img src="@Model.ImagesUrlUser" alt="" class="profile-image rounded-circle">
                    <span class="dot"></span>
                    <span class="float-right mt-2">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        </svg>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-left-fill mx-3" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                        </svg>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical mr-2" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                        </svg>
                    </span>


                </div>
                <div class="col-sm-8">
                    <img src="@Model.ImagesUrlReceiver" alt="" class="profile-image rounded-circle">
                    <span class="dot" style=""></span>
                    <span class="ml-2">@Model.ReceiverName</span>
                    <span class="float-right mt-2">
                        <button id="btnSearchOnMeg">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                <path fill-rule="evenodd"
                                      d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                            </svg>
                        </button>

                        <button id="btnCustomize">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical mx-3" fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                            </svg>
                        </button>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 contacts">
                    <div class="contact-table-scroll">
                        <table class="table table-hover">
                            <tbody>
                                @foreach (var item in Model.LstFriend)
                                {
                                    <tr>
                                        <td><img src="@item.ImageURL" alt="" class="profile-image rounded-circle"><span class="dot-2" style="@(item.Status == 2 ? "#bbb" : "#bbb")"></span></td>
                                        <td>@item.FriendName <br> <small>achi chal rahi</small></td>
                                        <td><small>11:55 PM</small></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-sm-8 message-area" id="containmsg">
                    <div class="message-table-scroll" id="messagesList">

                    </div>
                    <div class="row message-box p-3">
                        <div class="col-sm-3 mt-2">

                            <button id="btnSendfile">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-paperclip mx-2" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z" />
                                </svg>
                            </button>
                            <button id="btnSendVoice">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16">
                                    <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z" />
                                    <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z" />
                                </svg>
                            </button>
                        </div>
                        <div class="col-sm-8">
                            <form action="">
                                <input type="text" class="form-control" placeholder="Write message..." id="messageInput">
                            </form>
                            <button class="btn" id="btnSendMsg" style="float:right;margin-top  :-38px;" hidden>
                                <img src="~/images/send-mail.png" width="25" height="25" />
                            </button>
                        </div>
                        <div class="col-sm-1 mt-1">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-up" fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z" />
                                <path fill-rule="evenodd"
                                      d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                            </svg>
                        </div>

                    </div>
                </div>

                <div class="col-sm-3 contacts searchtext" id="divsearchtext" style="display: none;">
                    <div class="contact-table-scroll">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td><img src="images/p2.jpg" alt="" class="profile-image rounded-circle">  <span class="dot"></span></td>
                                    <td>Rahul Kumar <br> <small>achi chal rahi</small></td>
                                    <td><small>11:55 PM</small></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <input class="button" id="btntestconnection" style="display:none">
            </div>
        </div>

    </div>

    <!-- Option 1: Bootstrap Bundle with Popper.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"
            integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD"
            crossorigin="anonymous"></script>

    <script>

        $(document).ready(function () {
            document.getElementById("messagesList").innerHTML = $('#tmptable').val();
            $('.message-table-scroll').scrollTop($('.message-table-scroll')[0].scrollHeight);
            /*  $('#divsearchtext').removeClass('col-sm-3');*/
            $("#messageInput").emojioneArea({
                pickerPosition: "top",
                tonesStyle: "radio",
                events: {
                    keyup: function (editor, event) {
                        var code = (event.keyCode ? event.keyCode : event.which);
                        if (code == 13) {
                            $("#btnSendMsg").click();
                        }
                    },
                    keydown: function (editor, event) {
                        var code = (event.keyCode ? event.keyCode : event.which);
                        if (code == 13) {

                            $("#btnSendMsg").click();

                        }
                    },
                    emojibtn_click: function (button, event) {
                        console.log('event:emojibtn.click, emoji=' + button.children().data("name"));
                    }
                },
                saveEmojisAs: 'image'
            });
            $("#btnSearchOnMeg").click(function () {
                debugger;
                var statediv = $('#divsearchtext').css('display');
                if (statediv == "none") {
                    $('#containmsg').removeClass('col-sm-8');
                    $('#containmsg').addClass('col-sm-5');
                    $(".searchtext").animate({ "left": "+=", "width": "toggle" });
                }
                else {
                    $('#divsearchtext').css('display', 'none');
                    $('#containmsg').removeClass('col-sm-5');
                    $('#containmsg').addClass('col-sm-8');
                }


            });
          
        });
    </script>
</body>

</html>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<link href="~/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/ChatHistory/ChatHistory.js"></script>