@model ChatBox.Models.HistoryChat.ChatHistory
<html>
<head>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="~/js/bootstrap.min.js"></script>
    @*<script src="~/js/jquery.min.js"></script>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
    <link href="~/css/emojionearea.min.css" rel="stylesheet" />
    <script src="~/js/emojis/emojionearea.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/mervick/emojionearea/master/dist/emojionearea.min.css">
    <script type="text/javascript" src="https://cdn.rawgit.com/mervick/emojionearea/master/dist/emojionearea.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="https://rawgit.com/mervick/emojionearea/master/dist/emojionearea.css" rel="stylesheet" />
    <script src="https://rawgit.com/mervick/emojionearea/master/dist/emojionearea.js"></script>
    <style>
        ::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
        }
        .msger-input{
            width:95%;
        }
        ::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0, 0, 0, .5);
            box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }

        ::-webkit-scrollbar {
            width: 3px;
            margin-right: -10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: red;
            border-radius: 10px;
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #b30000;
            }

        body {
            font-family: sans-serif !important;
            background-image: url('/images/background_w2.jpg');
        }

        .bg-funky {
            background: #FF1744;
        }

        .mesgs {
            height: 600px;
        }

        .heading {
            color: #fff;
            margin: 30px;
            font-weight: 600;
        }

        img {
            max-width: 100%;
        }

        .inbox_msg {
            border: 1px solid #c4c4c4;
            clear: both;
            overflow: hidden;
            background-image: url('/images/Lan.jpg');
        }

        .top_spac {
            margin: 20px 0 0;
        }


        .recent_heading {
            float: left;
            width: 40%;
        }

        .headind_srch {
            padding: 10px 29px 10px 20px;
            overflow: hidden;
            border-bottom: 1px solid #c4c4c4;
        }

        .recent_heading h4 {
            color: #05728f;
            font-size: 21px;
            margin: auto;
        }

        .chat_ib h5 {
            font-size: 15px;
            color: #464646;
            margin: 0 0 8px 0;
        }

            .chat_ib h5 span {
                font-size: 13px;
                float: right;
            }

        .chat_ib p {
            font-size: 14px;
            color: #989898;
            margin: auto
        }

        .chat_img {
            float: left;
            width: 11%;
        }

        .chat_ib {
            float: left;
            padding: 0 0 0 15px;
            width: 88%;
        }

        .chat_people {
            overflow: hidden;
            clear: both;
        }

        .chat_list {
            border-bottom: 1px solid #c4c4c4;
            margin: 0;
            padding: 18px 16px 10px;
        }

        .inbox_chat {
            height: 550px;
            overflow-y: scroll;
        }

        .active_chat {
            background: #ebebeb;
        }

        .incoming_msg {
            width: 1000px;
        }

        .incoming_msg_img {
            display: inline-block;
            width: 4%;
        }

        .imgbor {
            border-radius: 50%;
            margin-bottom: 4px;
        }

        .received_msg {
            display: inline-block;
            padding: 0 0 0 10px;
            vertical-align: top;
            width: 92%;
        }

        .received_withd_msg p {
            background: #e4e8fb none repeat scroll 0 0;
            border-radius: 3px;
            color: #c5de45;
            font-size: 17px;
            margin: 0;
            padding: 5px 10px 5px 12px;
            width: 80%;
            word-wrap: break-word;
            overflow: hidden;
            display: block;
            max-width: 300px;
            margin-block: auto
        }

        .time_date {
            color: #747474;
            display: block;
            font-size: 10px;
            margin: 3px 0 0;
        }

        .received_withd_msg {
            width: 70%;
        }

        .mesgs {
            float: left;
            padding: 40px;
        }

        .sent_msg p {
            background: #90e7ff none repeat scroll 0 0;
            border-radius: 3px;
            font-size: 14px;
            margin: 0;
            color: rgba(0, 0, 0, .5);
            padding: 5px 10px 5px 12px;
            width: 100%;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        }

        .outgoing_msg {
            overflow: hidden;
            margin: 0px 0 10px;
            display: inline-block;
            padding: 0 0 0 10px;
            vertical-align: top;
            width: 92%;
        }

        .sent_msg {
            float: right;
            margin-left: 894px;
            width: 70%;
            text-align: right;
            max-width: 340px;
            margin-right: 50px;
        }

        .input_msg_write input {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: medium none;
            color: #4c4c4c;
            font-size: 15px;
            min-height: 48px;
            width: 100%;
        }

        .type_msg {
            border-top: 1px solid #c4c4c4;
            position: relative;
        }

        .msg_send_btn {
            background: #05728f none repeat scroll 0 0;
            border: medium none;
            border-radius: 50%;
            color: #fff;
            cursor: pointer;
            font-size: 17px;
            height: 33px;
            position: absolute;
            right: 0;
            top: 11px;
            width: 33px;
        }

        .messaging {
            background: #fff;
        }

        .msg_history {
            max-height: 516px;
            overflow-y: auto;
            max-width: 1050px;
            display: inline-block;
        }

        .credit {
            margin-bottom: 20px;
            margin-top: 20px;
        }

            .credit a {
                color: #fff;
                font-weight: 300;
                letter-spacing: 2px;
                border-bottom: dotted 1px;
            }

        input[type=text], select {
            width: 70%;
            padding: 6px 8px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .emojionearea-standalone {
            float: right;
        }

        .span6 {
            float: left;
            width: 48%;
            padding: 1%;
        }
    </style>
</head>
<body>


    <div class="container">
        <div class="messaging">

            <input style="display:none" value="@ViewBag.imgURL" id="imgURL">
            <input style="display:none" value="@ViewBag.UserID" id="userID">
            <input style="display:none" value="@ViewBag.UserName" id="userName">
            <div class="inbox_msg border border-success">

                <div class="mesgs">
                    <div class="msg_history">
                        <div class="incoming_msg" id="messagesList">
                            @foreach (var item in Model.ListHistoryMessage)
                            {
                                if (item.ChkUser == 1)
                                {
                                    <div>
                                        <div class="incoming_msg_img"> <img src="@item.ImagesUrl" alt="sunil" class="imgbor"> </div>
                                        <div class="received_msg">
                                            <div class="received_withd_msg">
                                                <p>@item.MessageSendText</p>
                                                <span class="time_date">@item.SendTimer</span>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else


                                { <div>
                                        <div class="outgoing_msg">
                                            <div class="sent_msg">
                                                <p>@item.MessageSendText</p>
                                                <span class="time_date">@item.SendTimer</span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                        </div>


                    </div>

                </div>
            </div>
                
        </div>
        <form class="msger-inputarea mt-1">
            <input type="text" class="msger-input" placeholder="Nhập gì thì nhập..." style="width:94%;height:30%" id="messageInput">
            <button class="btn" id="btnSendMsg" style="float:right;margin-top  :-38px;">
                <img src="~/images/send-mail.png" width="25" height="25" />
            </button>
        </form>

    </div>
    <script>
        $(document).ready(function () {
            $("#messageInput").emojioneArea({
                pickerPosition: "top",
                tonesStyle: "radio"
            });

        });


    </script>
</body>
</html>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
